
@{
    ViewData["Title"] = "ErrorMessage";
}

    <div class="container">
        <div class="row">
            <h4 class="display-4">Ваш аккаунт не активирован , либо у вас не достаточно прав</h4>
           
        </div>
    </div>

