@model DiaryClassDataLayer.Models.ClassModel

@{
    ViewData["Title"] = "CreateClass";
}

<h1>CreateClass</h1>

<h4>ClassModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateClass">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <div class="form-group">
                <label asp-for="ClassName" class="control-label"></label>
                <input asp-for="ClassName" class="form-control" />
                <span asp-validation-for="ClassName" class="text-danger"></span>
            </div>
           
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

