@{
    ViewData["Title"] = "Home Page";
}
    <div class="container-fluid">

        
        <div class="row align-content-center" style="margin:30px;">
            <div class="card-deck">

                <!-- Card -->
                <div class="card mb-4">

                    <!--Card image-->
                    <div class="view overlay">
                        <img class="card-img-top" src="https://images.pexels.com/photos/7096/people-woman-coffee-meeting.jpg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
                             alt="Card image cap">
                        <a href="#!">
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>

                    <!--Card content-->
                    <div class="card-body">
                        
                        <!--Title-->
                        <h4 class="card-title">Оценки</h4>
                        <!--Text-->
                        <p class="card-text">
                        </p>
                        <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
                        <a href="/Journal/GetRatings?userId=@Guid.Parse(User.Identity.Name)" class="btn btn-light-blue btn-md">Посмотреть</a>

                    </div>

                </div>
                <!-- Card -->
                <!-- Card -->
                <div class="card mb-4">

                    <!--Card image-->
                    <div class="view overlay">
                        <img class="card-img-top" src="https://images.pexels.com/photos/733856/pexels-photo-733856.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
                             alt="Card image cap">
                        <a href="#!">
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>

                    <!--Card content-->
                    <div class="card-body">

                        <!--Title-->
                        <h4 class="card-title">Информация</h4>
                        <!--Text-->
                       
                        <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
                        <a  href="/Home/GetInfo" class="btn btn-light-blue btn-md">Узнать последние новости</a>

                    </div>

                </div>
                <!-- Card -->
                <!-- Card -->
              
                <!-- Card -->

            </div>
            <!-- Card deck -->
        </div>
    </div>
       
